* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


h2 {
	border: 2px solid #fff;
	color: rgb(100, 100, 100);
	font-family: calibri;
	font-size: 2rem;
	padding: 12px;
	text-decoration: none
}

p {
	display: inline;
	font-family: calibri;
	text-align: left;
	text-size-adjust: inherit;
	font-style: italic;
	line-height: 0.5rem;
}

.bordecolor {
	background-color: beige;
	background-size: auto;
	text-decoration: underline;
	font-weight: strong;
	display: inline-block;
}

h1 {
	background-color: aquamarine;
	font-family: serif;
	color: grey;
}

.boxModeling2 {
	height: autopx;
	width: autopx;
	background-color: #033a28;
	padding: 20;
	border: 3px solid grey;
	text-align: center;
	color: grey;
	font-size: larger;
}

.active {
	background-position: center;
	/* background-color: black; */
	height: auto;
	border-radius: 0;
	margin-bottom: 10px;
	margin-left: 20%;
	margin-right: 20%;
}
/* SUtentabilidad */

carousel-item active {
	background-image: url(../multimedia/Tienda1.jpeg);
}
	.carousel-control-prev {
	background-color: grey;
	display: grid;
}

.carousel-control-next {
	background-color: grey;
	display: grid;
	margin-right: 20%;
}

div h2 {
	border: 2px solid #fff;
	color: aquamarine;
	font-family: calibri;
	font-size: 1.2rem;
	padding: 12px;
	text-decoration: none
}

footer {
	background-color: grey;
	color: #fff;
	width: 100%;
	height: auto;
	padding: 20px;
	text-align: center;
	font-size: small;
	font-style: italic;
	text-decoration: underline;
	margin-top: 1%;
}

.redes {
	background-color: #000;
}

footer a {
	color: #00d089;
	letter-spacing: 15px;
	align-items: flex-start;
}

.jumbotron {
	background-image: url(../multimedia/ESTA.jpeg);
	background-size: cover;
	background-position: center;
	height: 600px;
	color: yellow;
	text-shadow: 0 0 5px #000;
	border-radius: 0;
	margin-bottom: 0;
	width: 100%;

}

.jumbotron p {
	color: #fff;
}

h1 {
	text-align: center;
	background-color: #00d089;
	color: #fff;
	padding: 10px;
	margin-bottom: 0;
	font-family: 'Lucida Sans';
	font-size: medium;
}

section {
	font-size: x-large;
	margin-left: 0, 05%;
	margin-right: 0, 05%;
	box-sizing: content-box;
	border-color: #033a28;
}

section form {
	margin-left: 5%;
}


div textarea {
	margin-left: 5%;
}

div label {
	margin-left: 5%;
}

.card {
	font-size: large;
	font-family: 'Lucida Sans';
	margin-left: 0%;
	border-color: black;
	background-color: hsl(182, 66%, 44%);
}

/* -----Sobre Nosotros GRID------------------------ */
.nosotros2 {
	width: 100%;
	height: auto;
}

.nleft {
	height: 400px;
	width: 600px;
	background-image: url(../multimedia/chicaconhilos.jpeg);
	/* background-position: center; */
	background-size: cover;
}

.nright {
	height: auto;
	width: 100%;
	/* padding: 10px; */
}

.nright h3 {
	font-size: 15px;
	font-family: 'Lucida Sans';
	margin-bottom: 20px;
	color: #fff;
	text-shadow: 0 0 5px #000,
}

.nright p {
	text-align: justify;
	margin-bottom: 20px;
	font-family: 'Lucida Sans';
	font-weight: bold;
	font-size: medium;
}

.boton1 {
	background-color: #00d089;
	padding: 10px 10px;
	color: black;
	text-decoration: none;
	font-family: 'Lucida Sans', sans-serif;
	size-adjust: 20%;
	font-size: medium;
	font-style: normal;
}

.boton1:hover {
	background-color: springgreen;
	text-shadow: 0 0 5px #000;
	transition: all 1.5s;
}

.mision {
	width: 100%;
	height: auto;
	background-color: #333;
	display: flex;
	justify-content: space-between;
	/* padding-right: 0; */
	padding-top: 10px;
	box-sizing: unset;
}

.card3 {
	min-height: 350px;
	width: 30%;
	background-color: hsla(170, 89%, 31%, 0.549);
	border: 5px solid #000;
	text-align: center;
	transition: all 0.2s;
}

.card3:hover {
	transform: scale(1.09);
	transition: all 0.9s;
	/* box-shadow: 0 0 10px 5px #fff; */
	border-radius: 10px;
}

.card-img3 {
	height: 150px;
	width: 100%;
	background-color: gray;
	background-image: url(../multimedia/AdobeStock_14721611_Preview.jpeg);
	background-size: cover;
	background-position: center;
}

.card-img31 {
	height: 150px;
	width: 100%;
	background-color: gray;
	background-image: url(../multimedia/AdobeStock_201320952_Preview.jpeg);
	background-size: cover;
	background-position: center;
}

.card-img32 {
	height: 150px;
	width: 100%;
	background-color: gray;
	background-image: url(../multimedia/AdobeStock_577525298_Preview.jpeg);
	background-size: cover;
	background-position: center;
}

.card-img34 {
	height: 150px;
	width: 100%;
	background-color: gray;
	background-image: url(../multimedia/prendasdibujo.jpeg);
	background-size: cover;
	background-position: center;
}

.card3 h3 {
	font-size: 30px;
	color: #fff;
	text-shadow: 2px 2px 5px #000;
}

.card3 p {
	text-align: center;
	padding: 20px;
	color: hsla(0, 0%, 100%, 0.372);
}

.mapa {
	justify-content: center;
	padding: 20px;
	width: 100%;
	height: auto;
	background-color: aliceblue;
	display: flex;
	box-sizing: unset;
}
@media only screen and (max-width:768px){
	.mapa h3 {
		font-size: x-small;
	}
	.mapa p{
		font-size: x-small;
	}
	.card4 article{
		font-size: x-small;
	}
}

.card4 {
	min-height: 400px;
	width: 500px;
	/* height: 500px; */
	background-color: hsla(172, 48%, 6%, 0.199);
	border: 5px solid #000;
	text-align: center;
	margin-top: 30px;
}

.card4 h3 {
	font-size: 40px;
	color: black;
	text-shadow: 2px 2px 5px #000;
	text-align: center;

}

.card4 p {
	text-align: start;
	color: black;
	padding: 10px;
	font-size: 25px;
}

iframe {
	width: 200px;
	height: 200px;
	align-content: flex-start;
}

@media only screen and (min-width: 100px) and (max-width:480px) {
	.card3 {
		min-height: 10px;
		width: 40%;
		height: 50%;
		font-size: 10%;
		flex-wrap: wrap;
	}

	.card3 h3 {
		font-size: xx-small;
	}

	.boton1 {
		padding: 10px 10px;
		color: black;
		size-adjust: 5%;
		font-size: xx-small;
	}

	.card4 {
		min-height:10px;
		height: 400px;
		width: 400px;
		/* size-adjust:u */
		flex-wrap: wrap;
		display: inline-block;
	}

	.card4 h3 {
		font-size: xx-small;
	}

	.card4 h4 {
		font-size: xx-small;
	}

	.card4 p {
		font-size: xx-small;
	}

	/* .card-img34 {
		height:90px;
		width: 90px;
		background-size: cover;
		background-position: center;
	} */

	iframe {
		width: 50px;
		height: 50px;
		align-content: flex-start;
	}

	footer {
		font-size: x-small
	}

}

/*Tienda animación------------------------------*/

.cubo {
	height: 150px;
	width: 150px;
	position: relative;
	transform-style: preserve-3d;
	animation: rotar 5s infinite linear;
	background-image: url(../multimedia/changuito.jpg);
	background-size: cover;
	display: inset-inline-end;
}

.cara {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: URL(../multimedia/HOTSALES.jpeg);
	background-size: cover;
	transform: translateZ(-90px);
	display: inline-block;
}

@keyframes rotar {

	from {
		transform: rotateY(10deg);
	}

	to {
		transform: rotateY(360deg);
	}
}

/*Tenda divs------------------------------*/

.tienda {
	height:100%;
	width: 650px;
	background-color: #E0EBA7;
	display:flex;
	flex-wrap:wrap;
	padding: 30px;
	gap: 20px;
	font-weight:bold;

}
.tiendax{
	height: 350px;
	width: 250px;
	background-color: #008FAD;
	border: 1px solid black;
	color: blanchedalmond;
	text-shadow: #033a28;
	text-align: center;
	box-shadow: inset 0 0 5 px black;
}
.tiendax:hover {
	filter: sepia(100%);
    transform: scale(0.9);
    transition: 0.9s;
}
.img1{
	background-image: url(../multimedia/Tienda1.jpeg);
	background-size:cover;
	color: #033a28;
	font-size:medium;
	box-shadow: inset 0 0 5 px black;
}

.img2{
	background-image: url(../multimedia/Tienda2.jpeg);
	background-size:cover;
	color: #033a28;
	font-size:medium;
}

.img3{
	background-image: url(../multimedia/Tienda\ 3.jpeg);
	background-size:cover;
	color: blanchedalmond;
	font-size:large;

}
.img4{
	background-image:url(../multimedia/ESTA.jpeg);
	background-size:cover;
	color: grey;
	font-size:large;
	text-shadow: #fff;
	font-weight: bold;
}
.img5{
	background-image:url(../multimedia/arreglo-plano-tela-jeans_23-2148876417.jpg);
	background-size:cover;
	color: #063928;
	font-size:large;
	text-shadow:greenyellow;
	font-weight: bold;

}
.img6{
	background-image:url(../multimedia/chicaconhilos.jpeg);
	background-size:cover;
	color: #033a28;
	font-size:large;
	text-shadow: #fff;
}

